/* global properties */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family:"open sans",sans-serif ;
    /* background-color: cyan; */
}
ul{
    list-style: none;
}
.container{
    padding: 0px 15px;
    margin: 0px auto;
}
:root{
    --maincolor:#19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --main-padding: 100px;
  }
/* small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
@media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
@media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  /* end of global properties */
 /* start header */
 header{
    /* padding: 20px 0px; */
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 4;
    background-color: blueviolet;
  }
  header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 80px;
  }
  header .container::after{
    content: " ";
    position: absolute;
    height: 1px;
    background-color: #a2a2a2;
    width: calc(100% - 30px);
    left: 15px;
    bottom: 0;
    z-index: -1;
  }
  .logo img{
        border-style: none;
  }
  header nav{
      flex: 1; /*to take remaining space*/
      display: flex;
      align-items: center;
      justify-content: flex-end;
  }
  @media (min-width: 768px){
    header nav .toggle-menu{
        display: none;
    }

  }
  header nav .toggle-menu{
    color: white;
    font-size: 19px;
}

  
  header nav ul{
      display: flex;
      justify-content: space-between;
      align-items: center;
      
  }
  header nav ul li a{
    padding: 30px 10px;
    display: block;
    color: white;
    text-decoration: none;
    transition: .3s;
    font-size: 17px;
    z-index: 3;

  }
  @media (max-width: 767px){
    header nav ul{
        display: none;
    }
    header nav .toggle-menu:hover + ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0%;
        width: 100%;
        background-color: rgb(0 0 0 / 50%);
    }
    header nav .toggle-menu:hover + ul li{
        width: 100%;
    }
    header nav .toggle-menu:hover + ul li a{
        padding: 15px ;
    }

  }
  header nav ul a.active,
  header nav ul a:hover{
      color: var(--maincolor,yellow);
      border-bottom: 1px solid var(--maincolor);

  }
  header nav .form{
    color: white;
    position: relative;
    width: 30px;
    height: 30px;
    margin-left: 30px;
    border-left: 1px solid white;
  }
  header nav .form i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
  /* end header */
  /* start pricing */
  .pricing{
    padding: 80px 0 0 0;
  }
  .pricing .main-heading h2{
    margin: 10px 0;
  }
  .pricing .main-heading p{
    margin: 30px 0;
    color: blueviolet;
  }
  .pricing .plans{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 30px;
  }
  .pricing .plans .plan{
    text-align: center;
  }
  .pricing .plans .plan .head{
    padding: 30px 10px;
    border-bottom: 1px var(--maincolor) solid;
    border-top: 1px var(--maincolor) solid;
  }
  .pricing .plans .plan .head h3{
   font-weight: normal;
   margin-bottom: 20px;
   text-transform: uppercase;
  }
  .pricing .plans .plan .head span{
    font-size: 50px;
    font-weight: bold;
  }
  .pricing .plans .plan .head span::before{
    content: "$";
    font-size: 25px;
    font-weight: normal;
    position: relative;
    top: -40px;
    margin-right: 15px;
  }
  .pricing .plans .plan .head span::after{
    content: "/MO";
    font-size: 25px;
    font-weight: normal;
    position: relative;
    right: -15px;
    }
    .pricing .plans .plan ul{
    border-bottom: 1px solid var(--maincolor);
    }
    .pricing .plans .plan ul li{
  
      padding: 20px;
    }
    .pricing .plans .plan ul li:not(:last-child){
      position: relative;
    }
    .pricing .plans .plan ul li:not(:last-child)::after{
      content: " ";
      background-color: var(--maincolor);
      height: 1px;
      width: 60%;
      position: absolute;
      bottom: 0;
      transform: translateX(-50%);
      left: 50%;
    }
    .pricing .plans .plan .foot a{
      text-decoration: none;
    border: 1px solid var(--maincolor);
    width: fit-content;
    padding: 10px 20px;
    margin: 30px auto;
    display: block;
    color: white;
    background-color:var(--maincolor);
    }
    .pricing .contact-txt{
      text-align: center;
      margin: 30px 0 10px;
    }
    .pricing .contact-link{
      text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    background-color: var(--maincolor);
    padding: 15px 30px;
    color: white;
    }
  /* end pricing */